{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html>

<head>
  <!-- Progressive Web App (PWA) -->
  {% progressive_web_app_meta %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="RJ Rojgaar app. Find job seekers and job searchers in India.">
  <meta name="keywords" content="rojgaar, rj rojgaar, jobs, job, india, assam, job search, job seek, seeker, searching, roojgaar, roojgar, rojgaar assam, assam rojgaar">
  <meta name="robots" content="index,follow">
  <meta name="author" content="RJ Rojgaar.com">
  <meta property="og:title" content="RJ Rojgaar App">
  <meta property="og:description" content="RJ Rojgaar app. Find job seekers and job searchers in India.">
  <meta property="og:image" content="{% static 'images/rojgaar-logo.jpg' %}">
  <meta property="og:url" content="https://rjrojgaar.com/">
  <meta http-equiv="Content-Language" content="en">
  <link rel="shortcut icon" href="{% static 'images/rojgaar-logo.jpg' %}" type="">

  <title> RJ Rojgaar App </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  
</head>

<body id="home">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{% static 'images/hero-bg.png' %}" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              RJ Rojgaar App
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="#home" hx-get="/intro" hx-target="#details" hx-swap="innerHTML" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about" hx-get="/about" hx-target="#details" hx-swap="innerHTML show:top" > About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service" hx-get="/services" hx-target="#details" hx-swap="innerHTML show:top">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#why-us" hx-get="/why" hx-target="#details" hx-swap="innerHTML show:top">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1VCw5Obubx5kBRG3DYf2p6laiOD-0yfU0DsXSfZA2p34/edit?usp=sharing">See All</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div id="main-contents">
      {% include 'sub/intro.html' %}
    </div>
    <!-- end slider section -->
  </div>
  <div id="details">
  </div>

  <!-- service section -->



  <!-- end service section -->


  <!-- about section -->



  <!-- end about section -->

  <!-- why section -->



  <!-- end why section -->


  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">RJ Rojgaar</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
  <script src="{% static 'js/htmx.min.js' %}"></script>
</body>

</html>