  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Vill. Jholom, PO. Moran khatkhoti PS.moran, Dibrugarh
                </span>
              </a>
              <a href="tel:+91 88118 60160">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 88118 60160
                </span>
              </a>
              <a href="mailto:bitum1274@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  bitum1274@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              This is the RJ Rojgaar
 app.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="#home" hx-get="/intro" hx-target="#details" hx-swap="innerHTML">
                Home
              </a>
              <a class="" href="#about" hx-get="/about" hx-target="#details" hx-swap="innerHTML show:top">
                About
              </a>
              <a class="" href="#service" hx-get="/services" hx-target="#details" hx-swap="innerHTML show:top">
                Services
              </a>
              <a class="" href="#why-us" hx-get="/why" hx-target="#details" hx-swap="innerHTML show:top">
                Why Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Go to form
          </h4>
          <form action="#">
            <a href="https://forms.gle/DZTRLQBcFgyA22sN9">
              <button>
                Proceed
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </section>
