{% load static %}

<section class="layout_padding" id="about">
  <div class="container  ">
    <div class="heading_container heading_center mb-5">
      <h2>
        About <span>Us</span>
      </h2>
      <p>
        We are helping people to get job and also helping people to get job seekers.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="img-box">
          <img src="{% static 'images/rojgaar-logo.jpg' %}" alt="" class="m-auto">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box mt-5">
          <h3>
            We are RJ Rojgaar

          </h3>
          <p>
            People are searching for job and also people are searching for job seekers.
          </p>
          <p>
            We connect job seekers with job searchers.
          </p>
          <a href="https://forms.gle/DZTRLQBcFgyA22sN9">
            Proceed
          </a>
        </div>
      </div>
    </div>
  </div>
</section>