{% load static %}

<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  RJ Rojgaar <br>
                  App
                </h1>
                <p>
                  RJ Rojgaar App is helping app, established in 2024. It is a forward thinking software development startup based in Assam. RJ Rojgaar.com is India's job search platform, which is designed for job seekers to ease the process of searching and finding the best fit. We continously update new job opportunities and provide freshers and job seekers witha better understanding of the labour market and the jobs they can feasibly get.
                </p>
                <div class="btn-box">
                  <a href="https://forms.gle/DZTRLQBcFgyA22sN9" class="btn1">
                    Proceed
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'images/person-working.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  Our <br>
                  Mission
                </h1>
                <p>
                  This company is helping for everyone. Who found any work and who found people for work our mission is that If people use mobile-phone for this to search Job. And If people use mobile-phone they learn about degital when they learn about degital they get update. And then slowly-slowly our Assam also going to update. So, we help everyone to get update. So, we need our Assam also get update like other's State.
                </p>
                <div class="btn-box">
                  <a href="https://forms.gle/DZTRLQBcFgyA22sN9" class="btn1">
                    Proceed
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'images/person-working2.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  RJ Rojgaar <br>
                  App
                </h1>
                <p>
                  RJ Rojgaar App is helping app, established in 2024. It is a forward thinking software development startup based in Assam. RJ Rojgaar.com is India's job search platform, which is designed for job seekers to ease the process of searching and finding the best fit. We continously update new job opportunities and provide freshers and job seekers witha better understanding of the labour market and the jobs they can feasibly get.
                </p>
                <div class="btn-box">
                  <a href="https://forms.gle/DZTRLQBcFgyA22sN9" class="btn1">
                    Proceed
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'images/person-working3.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel1" data-slide-to="1"></li>
      <li data-target="#customCarousel1" data-slide-to="2"></li>
    </ol>
  </div>

</section>